*{
    margin: 20;
    padding: 10;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#0490e0, #dacbe7);
    min-height: 100vh;
}

.container{
    max-height: 800px;
    margin: auto;
    padding: 10px;
}

.txtb{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;

}

h3{
    margin: 10px 0;
}   

.task{
    width: 100%;
    background: rgba(201, 179, 179, 0.5);
    padding: 18px;
    margin: 6px 0;
    overflow:hidden;
}

.task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.comp .task{
    background: rgba(0,0,0,.5);
    color: #fff;
}
.animate__backInRight{
    padding-left: 10px;
    margin-top: 20px;
    font-size: larger;
    color: #450780;
}
#congrats{
    padding: 10px;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-width: 2px;
    border-color:white;
    overflow: hidden;
    background-color: rgb(91, 193, 3);
    text-align: center;
    color: white;
    font-weight: 1000;
    border-radius: 10px;
    visibility:hidden; 
}

#congrats:hover{
    background-color: aqua;
    color: #677e09;
    font-weight: bolder;
}